@font-face{
	font-family: Ubuntu;
	src: url(../Polices/Playfair_Display,Ubuntu/Ubuntu/Ubuntu-Regular.ttf)
}

@font-face{
	font-family: PlayFair;
	src: url(../Polices/Playfair_Display,Ubuntu/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf)
}

@font-face{
	font-family: Bebas;
	src: url(../Polices/Bebas_Neue/BebasNeue-Regular.ttf)
}

@font-face{
	font-family: Roboto_Slab;
	src: url(../Polices/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf)
}

@keyframes color {
  0%   { background: #aa3333; }
  20%  { background: #b12b2b; }
  40%  { background: #ff2a2a; }
  50%  { background: #ff0000; }
  60%  { background: #ff2a2a; }
  80%  { background: #b12b2b; }
  100% { background: #aa3333; }
}

@keyframes textclip {
	to {
	  background-position: 200% center;
	}
}






/*General Style*/
* {
  cursor: none;
}

*::selection{
  color: #FFF;
  background: black;
}

body {
  background: #100000;
  animation: color 9s infinite linear;
  margin: 0%;
}

.main{
	-ms-overflow-style: none;
        overflow: hidden;
		overflow-x: hidden;
        overflow-y: scroll;

	background-color : rgb(230, 230, 230);
	font-family : Roboto_Slab;
  letter-spacing: 105%;
	font-size : 28px;	
  border : 7px solid black;
	overflow: hidden;
  border-radius: 20px;
  margin: .6%;
  margin-top: 7%;
}

#main::-webkit-scrollbar{
        display: none;
}






/*Custom Cursor*/
.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1.5px solid black;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 5;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  opacity: .9;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
  z-index: 5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
  z-index: 5;
}






/*Floating Navigation Menu*/
#haut{
  text-align: center;
  background-color: #FFF;
  top: 0%;
  left: 0%;
  position: fixed;
  width: 100%; 
  margin-inline-start: 0%;
  border-bottom: 7px solid black;
  z-index: 4;
}

nav ul {
  margin: 0.5%;
  padding: 0px;
  overflow: hidden;  
  align-items: center;
  text-align: center;
}

nav li {
  list-style-type: none;             
  display: inline;
  padding: 1em;
}

nav li:hover {
  margin-top: -2em;    
  border-top-right-radius: 0.3em;              
  border-top-left-radius: 0.3em;               
  border-bottom-left-radius: 0.3em;           
  border-bottom-right-radius: 0.3em;          
  background-color: #e64040;   
  transition: 0.3s;  
}

nav .menu {
  display: inline-block;      
  text-decoration: none;
  font-weight: normal;   
  padding: 15px 15px;        
  color: #FFF;              
}

.menu{
  font-family: Bebas;
  border-bottom-left-radius: 0.3em;           
  border-bottom-right-radius: 0.3em;  
  font-size: 150%;
  letter-spacing: 2px;
}

.menu:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
  position: center;
}

.menu:active {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

.menu:visited{
  color: rgb(40, 0, 0)
}

#current{
  color: #9e1f1f;
}







.titre{
	color : rgb(0, 0, 0);
	font-size: 700%;
	font-family : Bebas;
	text-align: center;	
	margin-top: 20px;
}

#equipe{
	color: red;
	font-family: Bebas;
	text-transform: uppercase;
	background-image: linear-gradient(
	  100deg,
	  #701a1a 0%, 
	  #9e1f1f 29%,
	  #db0b0b 48%,
	  #9e1f1f 67%,
	  #701a1a 100%
	);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 2s linear infinite;
	display: inline-block;
		font-size: 100%;
}

.title2{
	color: rgb(0, 0, 0);
	font-family: Bebas;
	font-size: 65px; 
	text-decoration: none;
  margin-top: 0%;
}






#presentation,#composition{
  background-color: #d8d8d8;
  padding: 3%;
  border: 10px solid inherit;
  border-radius: 20px;
  width: 90%;
  margin-left: 2%;
}

#rep_eff{
	margin-right: 3%;
  padding: 3%;
}








#underline_p{
	color: #ff0000;
	text-decoration: none;
	font-family: inherit;
	font-size: inherit; 
  margin-top: 0px;
}

/*.underline_c:hover{
	letter-spacing: 1.3px;
	transition: 0.3s;
}*/

#underline_p:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 7px;
  left: 50%;
  position: inherit;
  background: #ff0000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#underline_p:hover:after { 
  width: 300px;  
}

@media screen and (max-height: 0%) {
	#underline_p {
		margin-top: 0px;
	}
}







#underline_c{
	color: #ff0000;
	text-decoration: none;
	font-family: inherit;
	font-size: inherit; 
  margin-top: 0px;
}

/*#underline_d:hover{
	letter-spacing: 1.3px;
	transition: 0.3s;
}*/

#underline_c:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 7px;
  left: 50%;
  position: inherit;
  background: #ff0000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#underline_c:hover:after { 
  width: 270px;  
}

@media screen and (max-height: 0%) {
	#underline_c {
		margin-top: 0px;
	}
}







#underline_po{
	color: #ff0000;
	text-decoration: none;
	font-family: inherit;
	font-size: inherit; 
  margin-top: 0px;
}

/*#underline_m:hover{
	letter-spacing: 1.3px;
	transition: 0.3s;
}*/

#underline_po:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 7px;
  left: 50%;
  position: inherit;
  background: #ff0000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#underline_po:hover:after { 
  width: 800px;  
}

@media screen and (max-height: 0%) {
	#underline_po {
		margin-top: 0px;
	}
}







.credits{
  margin: 30px;
}

.icon{
  margin-left: 0.3%;
  margin-top: 0.55%;
  width: 150px;
  height: 150px;
}







hr{
  width: 94%;
  border-width: 2px;
  border-radius: 5px;
  border-color: rgb(0, 0, 0,0.6);
  border-style: solid;
}






footer{
	-ms-overflow-style: none;
        overflow: hidden;
		overflow-x: hidden;
        overflow-y: scroll;

	background-color : rgb(230, 230, 230);
	font-family : Roboto_Slab;
  letter-spacing: 105%;
	font-size : 28px;	
  border-top: 7px solid black;
	overflow: hidden;
  margin: 0%;
  margin-top: 3%;
  padding: 20px;
  z-index: 3;
}







#sponso{
  float: left;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  width: 33%;
}

.sponso_link{
	font-family: Roboto_Slab;
  font-weight: 400;
	text-decoration: none;
	color: rgb(255, 30, 30);
}

.sponso_link:active{
	color: rgb(255, 30, 30);
}

.sponso_link:visited{
	color: rgb(170, 0, 0)
}

.sponso_link:hover{
  color: rgb(150, 25, 25);
	transition: 0.5s;
  font-weight: 700;
}



#designers{
  float: left;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  width: 33%;
}

#devs{
  float: left;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  width: 33%;
}

.cred_list{
  list-style-type: none;
  padding: 0%;
}





/*-------------------------------------------------------------------------------------*/
/*Cards*/
.card {
  position: relative;
  font-family: Roboto_Slab;
  font-size: x-large;
  max-width: 200px;
  height: 300px;
  border-radius: 5px;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  gap: 7.5px;
  transition: 0.5s ease;
  color: rgb(0, 0, 0);
  float: left;
  margin: 3%;
  width: 20%;
  text-align: left;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../Image/pennywise.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s ease;
}

.card:hover::after {
  opacity: 0.5;
  filter: blur(5px);
}

.cardHeader {
  text-transform: uppercase;
  position: relative;
  width: max-content;
  font-weight: bold;
  transition: all 0.5s ease;
}
.cardHeader::after {
  content: "";
  width: calc(100% + 1rem);
  height: 4px;
  transform: translateX(calc(-100% - 1rem));
  background: red;
  bottom: -2px;
  left: 0;
  position: absolute;
  opacity: 0;
}

.details {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transform: translateY(85%);
  transition: all 0.5s ease;
}

.button {
  background-color: red;
  color: black;
  padding: 2.5px 5px;
  width: max-content;
  border-radius: 2.5px;
  margin-top: 5%;
  margin-bottom: 10%;
}
.card:hover .details {
  transform: translateY(0%);
  transition-delay: 0.2s;
}
.card:hover .cardHeader::after {
  transform: translateX(-1rem);
  transition: 0.2s ease;
  opacity: 1;
}
.card:hover {
  transform: scale(1.1);
  border-radius: 15px;
}
/*-------------------------------------------------------------------------------------*/





#tromb{
  height: auto;
  width: auto;
}

#graph{
  margin: 2%;
  float: left;
  position: relative;
  height: 33%;
  width: 33%;
}

#graphJs{
  max-width: 750px;
  max-height: 500px;
  float: left;
}